<!DOCTYPE html>
<html lang="">
  <head>
    <base href="/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="robots" content="all,follow">
    <link rel="icon" href="img/logo.png">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400&amp;display=swap"> 
    <!-- <link href="https://fonts.googleapis.com/css2?family=Jost&family=Thasadith:ital,wght@0,400;0,700;1,400&display=swap" -->
    <!-- Swiper slider-->
    <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
    <!-- Lightbox-->
    <link rel="stylesheet" href="vendor/glightbox/css/glightbox.css">
    <!-- Choices.js-->
    <link rel="stylesheet" href="vendor/choices.js/public/assets/styles/choices.css">
    <!-- Nouislider-->
    <link rel="stylesheet" href="vendor/nouislider/nouislider.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.71609fc8.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.0a822280.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.9f24e811.png">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/glightbox/js/glightbox.js"></script>
    <script src="vendor/choices.js/public/assets/scripts/choices.js"></script>
    <script src="vendor/nouislider/nouislider.min.js"></script>
    <script src="js/theme.b8c44118.js"></script>
    <script src="js/js-cookie.55cdbe0d.js"> </script>
    <script src="js/demo.7c677988.js"> </script>

    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>
