<template>
  <Header />
  <section class="py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <!-- Navigation-->
          <header class="text-center mb-5">
            <h2>Shopping cart</h2>
          </header>
          <ul class="nav nav-tabs nav-fill border-bottom mb-5 flex-column flex-md-row">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">1. Shopping cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">2. Billing Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">3. Completed</a>
            </li>
          </ul>
          <!-- Shopping cart-->
          <div class="table-responsive mb-4">
            <table class="table">
              <thead class="bg-light">
                <tr>
                  <th class="p-3 border-0" scope="col">
                    <strong class="text-uppercase">Product Id</strong>
                  </th>
                  <th class="p-3 border-0" scope="col">
                    <strong class="text-uppercase">Product</strong>
                  </th>
                  <th class="p-3 border-0" scope="col">
                    <strong class="text-uppercase">Price</strong>
                  </th>
                  <th class="p-3 border-0" scope="col">
                    <strong class="text-uppercase">Quantity</strong>
                  </th>
                  <th class="p-3 border-0" scope="col">
                    <strong class="text-uppercase"></strong>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in cart" :key="item.product_id">
                  <td class="p-3 align-middle border-0">
                    <p>{{item.product_id}}</p>
                  </td>
                  <td class="p-3 pl-0 border-0" scope="row">
                    <div class="d-flex align-items-center">
                      <a class="reset-anchor d-block animsition-link" href="detail.html">
                        <img src="img/shoe1.jpg" alt="..." width="70" />
                      </a>
                      <div class="ms-3">
                        <strong class="h6">
                          <a class="reset-anchor animsition-link" href="detail.html">{{item.p_name}}</a>
                        </strong>
                      </div>
                    </div>
                  </td>
                  <td class="p-3 align-middle border-0">
                    <p>{{item.price}}</p>
                  </td>
                  <td class="p-3 align-middle border-0">
                    <p>{{item.quantity}}</p>
                  </td>

                  <td class="p-3 align-middle border-0">
                    <a class="reset-anchor" href="#">
                      <i class="fas fa-trash-alt small text-muted"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Cart footer-->
            <div class="bg-light p-4">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item py-1">
                      <router-link class="btn btn-outline-primary" :to="{name:'Shop'}">
                        <i class="fas fa-shopping-bag me-2"></i>Continue shopping
                      </router-link>
                    </li>
                    <li class="list-inline-item py-1">
                      <a class="btn btn-primary" href="checkout.html">
                        <i class="far fa-credit-card me-2"></i>Process checkout
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 text-start text-md-end">
                  <p class="text-muted mb-1">Cart total</p>
                  <h6 class="h4 mb-0">Ksh. {{cartTotalPrice}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <Footer />
</template>

<script>
import Header from "../Header.vue";
import Footer from "../Footer.vue";
export default {
  name: "cart",
  components: { Header, Footer },

  computed: {
    cart() {
      return this.$store.state.cart2.cart;
    },
    cartTotalPrice() {
      return this.$store.getters.cartTotalPrice;
    },
  },
  mounted() {
    document.title = "Cart | sbuy";
  },
  //  created(){
  //   this.$store.dispatch('getCartItems')
  // }
};
</script>

<style scoped>
</style>