<template>
  <Header />

  <div style="margin-top:10%" class="container">
    <h3>Get your favorite collections</h3>
    <!-- Container -->
    <div class="row">
      <!-- Column -->
      <div
        class="col-md-4 col-lg-4 col-sm-12 mb-4 d-flex align-items-stretch product"
        v-for="subcategory in allsubCategories"
        :key="subcategory.id"
      >
        <!--Card-->
        <div class="card">
          <!--Card image-->

          <img src="img/esp2.jpg" class="img-fluid" alt />
          <div class="row">
            <div class="col">
              <h4>{{subcategory.scategory_name}}</h4>
            </div>
            <div class="col">
              <router-link
                :to="{
                    name:'Collection-detail',
                    params:{ id: subcategory.id}
                                                            }"
                class="btn btn-primary text mb-3"
              >View Collection</router-link>
            </div>
          </div>
        </div>

        <!--/.Card-->
      </div>
      <!-- Column -->
    </div>
    <!-- Container -->
  </div>
  <Footer />
</template>

<script>
import Header from "../Header.vue";
import Footer from "../Footer.vue";
import { mapGetters, mapActions } from "vuex";
export default {
  components: { Header, Footer },

  methods: {
    ...mapActions(["fetchsubCategories"]),
  },
  computed: {
    ...mapGetters(["allsubCategories"]),
      
  },
  created() {
    this.fetchsubCategories();
  },
  mounted(){
    document.title = 'Collection | sbuy'
  }
};
</script>

<style scoped>
</style>