<template>
  <Header />
  <div>
    <section class="py-5">
      <div class="container py-5">
        <div class="row pt-5">
          <!-- Shop listing-->
          <div class="col-xl-10 col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
            <!-- Listing filter-->
            <div class="row mb-4 pb-3 align-items-center">
              <div class="col-md-6 text-center text-md-start">
                <p class="small text-muted">
                  Showing
                  <strong class="text-dark">12</strong>of
                  <strong class="text-dark">265</strong>items
                </p>
              </div>

              <div class="col-md-6 text-lg-end">
                <div
                  class="d-flex align-items-center justify-content-center justify-content-md-end"
                >
                  <input
                    type="text"
                    v-model="search"
                    class="form-control"
                    placeholder="Search Product"
                  />
                </div>
              </div>
            </div>
            <h4>{{singlesubCategory[0].scategory_name}}</h4>
            <div class="row">
              <!-- Product-->
           
              <div
                class="col-xl-3 col-lg-4 col-6"
                v-for="scategory in subcategories"
                :key="scategory.id"
              >
                <div v-for="product in scategory.products" :key="product.id">
                  <div class="product mb-4">
                    <router-link
                      :to="{
                                                            name:'Product-detail',
                                                            params:{ id: product.id}
                                                            }"
                    >
                      <img class="img-fluid" :src="product.image_path" alt="Round grey hanging decor" />
                    </router-link>
                    <div class="cta shadow d-inline-block">
                      <a class="product-btn" href="#">
                        <i class="fas fa-heart"></i>
                      </a>
                      <router-link
                        class="product-btn"
                        :to="{
                                                            name:'Product-detail',
                                                            params:{ id: product.id}
                                                            }"
                      >
                        <i class="fas fa-eye"></i>
                      </router-link>
                      <button class="product-btn">
                        <i class="fas fa-dolly-flatbed"></i>
                      </button>
                    </div>
                  </div>
                  <h6 class="text-center">
                    <a class="reset-anchor" href="detail.html">{{product.p_name}}</a>
                  </h6>
                  <p class="text-center text-muted font-weight-bold mb-4">KSH. {{product.price}}</p>
                </div>
                <!-- Product-->

                <!-- Pagination-->
                <nav class="pt-5" aria-label="Page navigation">
                  <ul class="pagination justify-content-center justify-content-lg-end mb-0">
                    <li class="page-item mx-1">
                      <a class="page-link py-1" href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                      </a>
                    </li>
                    <li class="page-item mx-1 active">
                      <a class="page-link py-1" href="#">1</a>
                    </li>
                    <li class="page-item mx-1">
                      <a class="page-link py-1" href="#">2</a>
                    </li>
                    <li class="page-item mx-1">
                      <a class="page-link py-1" href="#">3</a>
                    </li>
                    <li class="page-item mx-1">
                      <a class="page-link py-1" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <Footer />
</template>

<script>
import Header from "../Header.vue";
import Footer from "../Footer.vue";
import { mapGetters, mapActions } from "vuex";
export default {
  components: { Header, Footer },
  props: ["id"],
  methods: {
    ...mapActions(["fetchsubCategory"]),
  },
  computed: {
    ...mapGetters(["singlesubCategory"]),
    subcategories() {
      return this.$store.state.subcategories.subCategory;
    },
  },
  created() {
      this.fetchsubCategory(this.id)
  },
  mounted(){
    document.title = 'Collection-detail | sbuy'
  }
};
</script>

<style scoped>
</style>