<template>
  <Header></Header>
  <section class="py-5" style="margin-top:80px">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="row">
            <div class="col-md-10 order-1 order-md-2 mb-4 mb-lg-0">
              <div>
                <div>
                  <img
                    class="img-fluid"
                    :src="oneProduct.image_path"
                    alt="shoe"
                    style="width: 700px;"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Item info-->
        <div class="col-lg-6">
          <h1>{{oneProduct.p_name}}</h1>

          <p class="h4">KSH. {{oneProduct.price}}</p>
          <p>{{oneProduct.p_desc}}</p>
          <div class="d-flex align-items-center mb-4">
            <select class="form-select" aria-label="Default select example">
            <option selected>Select size</option>
            <option value="1">35</option>
            <option value="2">36</option>
            <option value="3">37</option>
              <option value="3">38</option>
          </select>
          </div>
         
          <div class="d-flex align-items-center mb-4">
            <div class="border d-flex align-items-center justify-content-between p-1 me-2">
              <div class="quantity py-0">
                <input
                  class="form-control border-0 shadow-0 p-0 quantity-result"
                  type="number"
                  min="1"
                  v-model="quantity"
                />
              </div>
            </div>
            <button class="btn btn-primary" @click="addToCart">Add to cart</button>
          </div>
          <br />
          <ul class="list-unstyled small d-inline-block">
            <li class="px-3 py-2 mb-1 bg-light text-muted">
              <strong class="text-uppercase text-dark">Category:</strong>
              <a class="reset-anchor ms-2" href="#">Demo Products</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <Footer></Footer>
</template>

<script>
import Header from "../Header.vue";
import Footer from "../Footer.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  components: { Header, Footer },
  props: ["id"],

  data() {
    return {
      quantity: 1,
    };
  },
  computed: {
    ...mapGetters(["oneProduct"]),
  },
  methods: {
    ...mapActions(["fetchOneProduct"]),
    addToCart() {
      // console.log('clicked');
      if (isNaN(this.quantity) || this.quantity > 1) {
        this.quantity = 1;
      }
      this.$store.dispatch("addProductToCart", {
        product: this.$store.state.products.product,
        quantity: this.quantity,
      });
    },
  },
  mounted(){
    document.title = 'Product-detail | sbuy'
  },
  watch: {},
  created() {
    this.fetchOneProduct(this.id);
    // this.$store.dispatch('getCartItems')
  },
};
</script>

<style scoped>
</style>