<template>
    <div>
         <footer class="" style="background-color:#0277BD">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-3 mb-md-0"><img class="img-fluid mb-3" src="img/logo.png" alt="Sbuy" width="120">
         
          </div>
          <div class="col-md-2 col-sm-12 mb-3 mb-md-0">
            <h6 class="text-white">Menu</h6>
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-2"> <a class="reset-anchor text-white" href="#">Collections</a></li>
              <li class="mb-2"><a class="reset-anchor text-white" href="#">Women</a></li>
              <li class="mb-2"><a class="reset-anchor text-white" href="#">Men</a></li>
              <li class="mb-2"><a class="reset-anchor text-white" href="#">My account</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-12 mb-3 mb-md-0">
            <h6 class="text-white">Cart</h6>
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-2"> <a class="reset-anchor text-white" href="#">Checkout</a></li>
              <li class="mb-2"> <a class="reset-anchor text-white" href="#">Wishlist</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 mb-3 mb-md-0">
            <p class="lead mb-1 text-white">0794375045</p>

            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="social-icon" href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="social-icon" href="#"><i class="fab fa-youtube"></i></a></li>
              <li class="list-inline-item"><a class="social-icon" href="#"><i class="fab fa-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="border-top py-4" style="border-color: #1d1d1d !important">
          <div class="row">
            <div class="col-lg-6">
              <p class="small text-muted mb-0">© 2021 All rights sbuy Limited.</p>
            </div>
            <div class="col-lg-6 text-lg-end">
            </div>
          </div>
        </div>
      </div>
    </footer>
    </div>
</template>

<script>
    export default {
        name:'Footer'
    }
</script>

<style scoped>

</style>