<template>
  <div>
    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light py-2 py-lg-4 bg-white shadow-sm fixed-top">
      <div class="container">
        <!-- Navbar brand-->
        <router-link to="/" class="nav-link text-uppercase active">
          <img src="img/logo.png" alt="Sbuy online store" width="100" />
        </router-link>

        <!-- Navbar toggler-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar collapse-->
        <div
          class="collapse navbar-collapse d-lg-flex align-items-lg-center justify-content-lg-between"
          id="navbarSupportedContent"
        >
          <!-- Navbar menu right-->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item me-lg-3">
              <router-link to="/" class="nav-link text-uppercase active">Home</router-link>
              <!-- <a class="nav-link text-uppercase active" aria-current="page" href="index.html">Home</a> -->
            </li>
            <li class="nav-item me-lg-3">
              <router-link :to="{ name:'Shop' }" class="nav-link text-uppercase">Products</router-link>
            </li>
          </ul>
          <!-- Navbar menu left-->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 flex-row">
            <li style="padding-right:50px;font-size:20px!important" class>
              <router-link :to="{name:'Collection'}" style="text-decoration:none;color:black!important">Collections</router-link>
         
              
              </li>
            <ul
              class="navbar-nav ms-auto mb-2 mb-lg-0 flex-row"
              v-for="category in allCategories"
              :key="category.id"
            >
              <li>
                <router-link
                  :to="{
                        name:'Category',
                        params:{ id:category.id}
                        }"
                  style="padding-right:50px;font-size:20px!important;text-decoration: none;color:black!important"
                  :key="$route.fullPath"
                >{{category.category_name}}</router-link>
              </li>
            </ul>
            <li class="nav-item me-3">
              <router-link :to="{name:'Cart'}" class="nav-link text-uppercase position-relative">
                <i class="fas fa-shopping-cart"></i>
                <span class="badge rounded-pill bg-primary">{{cartItemCount}}</span>
              </router-link>
            </li>
            <li class="nav-item me-3">
              <router-link to="/">
                <i class="fas fa-heart h4"></i>
              </router-link>
            </li>
            <li class="nav-item me-3">
              <router-link to="/login">
                <i class="fas fa-user-alt h4"></i>
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Header",

  data() {
    return {
      product: this.$store.state.cart2.cart,
    };
  },

  mounted() {
    // this.cart = this.$store.state.cart2.cart;
    this.$store.dispatch("getCartItems");
  },
  methods: {
    ...mapActions(["fetchCategories"]),
  },
  watch: {},
  computed: {
    ...mapGetters(["allCategories"]),
    cartItemCount() {
      return this.$store.getters.cartItemCount;
    },
  },
  created() {
    this.fetchCategories();
  },
};
</script>

<style scoped>
</style>