<template>
  <Header></Header>
  <div class="hello" style="font-family: 'Jost', sans-serif!important;">
    <section>
      <div class="swiper-container" id="hero-slider">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide hero bg-center bg-cover d-flex align-items-center"
            style="background: url(img/shoe1.jpg)"
          >
            <div class="container">
              <div class="row text-lg-center">
                <div class="col-lg-8">
                  <!-- <p class="h6 text-uppercase text-muted mb-3">{{category.category_name}}</p> -->
                  <h1
                    class="hero-heading line-height-sm mb-2 title"
                    data-swiper-parallax="-200"
                  >Sbuy Shoes</h1>
                  <div class="row">
                    <div class="col-lg-5 mx-auto">
                      <p
                        class="font-weight-light text-muted mb-4 mt-3 subtitle"
                        data-swiper-parallax="-400"
                      >Get all the desired flat shoes with Sbuy</p>
                    </div>
                  </div>
                
                  <router-link :to="{name:'Shop'}" class="btn btn-primary text shop-now "><i class="fas fa-shopping-bag me-2"></i>Shop now</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination px-4 py-2 text-end h5 font-weight-light"></div>
      </div>
    </section>
  </div>
  <Footer></Footer>
</template>

<script>

import Header from "./Header.vue";
import Footer from "./Footer.vue";

export default {
  name: "Home",
  components: {
    Header,
    Footer,
  },
  props: {
    msg: String,
  },
 

};
</script>

<style scoped>
</style>
