<template>
<Header/>
  <div>
    <section class="py-5">
      <div class="container py-5" style="margin-top:5%">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="hero-heading">Login</h1>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h2 class="h4 mb-4">Returning user</h2>
            <form class="mb-5" @submit.prevent="handleLogin">
              <div class="row">
                <div class="form-group col-lg-6 mb-3">
                  <label class="form-label">Email address</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Email address"
                    v-model="email"
                  />
                </div>
                <div class="form-group col-lg-6 mb-3">
                  <label class="form-label">Password</label>
                  <input
                    class="form-control"
                    type="password"
                    placeholder="Password"
                    v-model="password"
                  />
                </div>
                <div class="form-group col-12 mb-3">
                  <div class="form-check">
                    <input class="form-check-input" id="flexCheckDefault" type="checkbox" />
                    <label
                      class="form-check-label text-muted"
                      for="flexCheckDefault"
                    >Remember me for next time</label>
                  </div>
                </div>
                <div class="form-group col-12">
                  <button class="btn btn-primary" type="submit">Login</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-5 ms-auto">
            <h2 class="h4 mb-4">New customer</h2>

            <router-link class="btn btn-primary" :to="{name:'Signup'}">Create an account</router-link>
          </div>
        </div>
      </div>
    </section>
  </div>
  <Footer/>
</template>

<script>
import Header from "../Header.vue";
import Footer from "../Footer.vue";
import axios from "axios";
export default {
  components:{
    Header,
    Footer
  },
  data() {
    return {
      email: "",
      password: "",
      errors:[]
    };
  },
  methods: {
    async handleLogin() {
      const formData = {
        email: this.email,
        password: this.password,
      };
      //TODO:place it inside the store
      //testing
      const res = await axios.post(
        "http://127.0.0.1:3333/api/v1/login/",
        formData
      );
      localStorage.setItem('token',res.data.token)
      // console.log(res.data);
    },
  },
  mounted(){
    document.title = 'Login | sbuy'
  }
};
</script>

<style scoped>
</style>