<template>
<Header/>
  <div>
    <section class="py-5 " style="">
      <div class="container py-5" style="margin-top:5%">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="hero-heading">Register</h1>
           
            <h2 class="h4 mb-4">Personal information</h2>
            <form class="mb-5" @submit.prevent="submitForm">
              <div class="row">
                <div class="form-group col-md-6 mb-3">
                  <label class="form-label">First name</label>
                  <input
                    class="form-control"
                    type="text"
                    name="firstname"
                    placeholder="Enter your first name"
                    v-model="fname"
                  />
                </div>
                <div class="form-group col-md-6 mb-3">
                  <label class="form-label">Last name</label>
                  <input
                    class="form-control"
                    type="text"
                    name="lastname"
                    placeholder="Enter your last name"
                    v-model="lname"
                  />
                </div>
                <div class="form-group col-md-6 mb-3">
                  <label class="form-label">Email address</label>
                  <input
                    class="form-control"
                    type="email"
                    name="email"
                    placeholder="Enter your email address"
                    v-model="email"
                  />
                </div>
                <div class="form-group col-md-6 mb-3">
                  <label class="form-label">Telephone</label>
                  <input
                    class="form-control"
                    type="text"
                    name="lastname"
                    placeholder="Enter your phone number"
                    v-model="tel"
                  />
                </div>
                <div class="form-group col-md-6 mb-3">
                  <label class="form-label">Password</label>
                  <input
                    class="form-control"
                    type="password"
                    placeholder="Password"
                    v-model="password"
                  />
                </div>
                <div class="form-group col-md-6 mb-3">
                  <label class="form-label">Confirm password</label>
                  <input
                    class="form-control"
                    type="password"
                    placeholder="Confirm password"
                    v-model="password2"
                  />
                </div>
                <div class="form-group col-md-6 mb-3 is-danger" v-if="errors.length">
                  <p v-for="error in errors" :key="error" style="color:red">{{error}}</p>
                </div>
                <div class="form-group col-12 mb-3">
                  <div class="form-check">
                    <input class="form-check-input" id="flexCheckDefault" type="checkbox" />
                    <label
                      class="form-check-label text-muted"
                      for="flexCheckDefault"
                    >I have read and accept policy privacy</label>
                  </div>
                </div>
                <div class="form-group col-12">
                  <button class="btn btn-primary" >Create your account</button>
                </div>
                <p>Already have an account</p>
                <router-link  :to="{name:'Login'}" style="text-decoration:none">Login</router-link>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
<Footer/>
</template>

<script>
import Header from "../Header.vue";
import Footer from "../Footer.vue";
import axios from "axios";
export default {
  name: "Signup",
  components:{Header, Footer},
  data() {
    return {
      fname: "",
      lname: "",
      email: "",
      tel: "",
      password: "",
      password2: "",
      role: "customer",
      errors: [],
    };
  },
  computed: {},
  methods: {
    async submitForm() {
      console.log(this.fname);
      this.errors = [];
      if (this.fname == "") {
        this.errors.push("The Firstname is missing !");
      }
      if (this.lname == "") {
        this.errors.push("The Lastname is missing !");
      }
      if (this.email == "") {
        this.errors.push("The Email address is missing !");
      }
      if (this.password == this.password2) {
        this.errors.push("The passwords does not match!");
      }
      if (!this.errors.length) {
        const formdata = {
          email: this.email,
          fname: this.fname,
          lname: this.lname,
          password: this.password,
          phone_no:this.tel,
          roles:this.role
        };
        //TODO:place it inside the store
        //testing
        const res = await axios
          .post("http://127.0.0.1:3333/api/v1/register/",formdata)
        alert('User created successfully')
          console.log(res);
          this.$route.push('/login')
      }
    },
  },
  created() {},
  mounted(){
    document.title = 'Signup | sbuy'
  }
};
</script>

<style scoped>
</style>